{% extends "ArchiveViewer/base.html" %}
{% block head_title %}パスワードリセット完了{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">パスワードリセット完了</div>
                <div class="card-body">
                    <p>パスワードリセットの手順をメールで送信しました。</p>
                </div>
            </div>
            <a class="mt-3" href="{% url 'index' %}">ホームに戻る</a>
        </div>
    </div>
</div>
{% endblock %}