{% extends "ArchiveViewer/base.html" %}
{% block head_title %}パスワードのリセット{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">パスワードのリセット</div>
                <div class="card-body">
                    <p>パスワードをリセットするためのメールを送信します。</p>
                    <p>メールアドレスを入力してください。</p>
                    {% if user.is_authenticated %}
                    <p>現在のメールアドレス: {{user.email}}</p>
                    <p><strong>アカウントにログインしている場合はフォームに自動入力されます。</strong></p>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                document.querySelector('input[name="email"]').value = '{{user.email}}';
                            });
                        </script>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">確認メールの送信</button>
                    </form>
                    {% if user.is_authenticated %}
                        <p class="mt-3">現在のパスワードがわかる場合は<a href="{% url 'account_change_password' %}">こちら</a></p>
                    {% else %}
                        <p class="mt-3">アカウントをお持ちでない方は<a href="{% url 'account_signup' %}">こちら</a></p>
                    {% endif %}
                    <p class="mt-3"><a href="{% url 'account_login' %}">ログインページに戻る</a></p>
                </div>
            </div>
            <a class="mt-3" href="{% url 'index' %}">ホームに戻る</a>
        </div>
    </div>
</div>
{% endblock %}
