{% extends 'ArchiveViewer/base.html' %}

{% block head_title %} 検索システム利用ガイド {% endblock %}
{% block content %}
{% include 'ArchiveViewer/search_bar.html' %}
</div>
    <h2 class="text-center">検索システム利用ガイド</h2>

    <h3>基本的な検索</h3>
    <ol>
        <li>検索バーに検索したいキーワードを入力します。</li>
        <li>Enterキーを押すと、該当するコンテンツが表示されます。</li>
    </ol>

    <h3>検索オプション</h3>
    <p>この検索システムでは以下の4つの特殊な検索オプションを使用できます：</p>
    <ul>
        <li><strong>AND検索:</strong> ２つ以上の単語を含むコンテンツを検索するには、各単語の間に大文字の「AND」を入力します。例えば、「Apple AND Banana」を検索すると、「Apple」も「Banana」も含むコンテンツが表示されます。</li>
        <li><strong>OR検索:</strong> ２つ以上の単語のうちいずれかを含むコンテンツを検索するには、各単語の間に大文字の「OR」を入力します。例えば、「Apple OR Banana」を検索すると、「Apple」か「Banana」を含むコンテンツが表示されます。</li>
        <li><strong>スペースでの検索:</strong> ２つ以上の単語を含むコンテンツを検索するには、各単語の間にスペースを入力します。これは「AND検索」と同じ動作をします。例えば、「Apple Banana」を検索すると、「Apple」も「Banana」も含むコンテンツが表示されます。</li>
        <li><strong>除外検索:</strong> 特定の単語を含まないコンテンツを検索するには、その単語の前にハイフン（-）を入力します。例えば、「Apple -Banana」を検索すると、「Apple」を含むが、「Banana」を含まないコンテンツが表示されます。</li>
    </ul>

    <h3>注意点</h3>
    <ul>
        <li>検索は大文字・小文字を区別しないため、入力した単語の大文字・小文字は問いません。ただし、「AND」や「OR」の検索オプションは大文字で入力してください。</li>
        <li>キーワードはスペースで分けることができます。ただし、「AND」や「OR」を使用する場合は、それぞれのキーワードと「AND」や「OR」の間にスペースを入れてください。</li>
        <li>特殊な文字（例：記号）は含めることができますが、検索結果に影響する可能性があります。</li>
    </ul>
    
</div>



{% endblock %}
